<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" default-href="/" [routerLink]="['/']"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ book?.title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="book-content" (click)="updatePosition($event)" *ngIf="!!textContentToDisplay">
      <div [innerHTML]="textContentToDisplay()"></div>
    </div>
</ion-content>

<ion-footer *ngIf="this.loaded">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <strong>Until end:</strong>
      {{ position() }}
    </ion-tab-button>
    <ion-tab-button tab="play-circle" [routerLink]="['/','book', book?.id, 'read']">
      <ion-icon size="large" name="play-circle"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <strong>Progress:</strong>
      {{ progress() }} %
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
