<ion-content [fullscreen]="true" class="ion-padding" (click)="goBack()">
<div class="read-area">
  {{textContent.slice(position(), position() + wop()).join(' ')}}
</div>
</ion-content>
<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="play-back-circle" [size]="'large'" (click)="decrease()"></ion-icon>
    </ion-tab-button>
    <ion-tab-button >
      {{speed()}}
      <br/>
      wpm
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="play-forward-circle" [size]="'large'" (click)="increase()"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
